<div class="sidehead">
    <div class="image">
        <img src="../../assets/face.jpg" alt="Avatar" width="70" height="70">
      </div>  
      <div class="edit ml-2" >
        <span style="font-size:13px;color:white">Welcome</span><br>
        <span style="font-size:15px;color:white;font-weight:500">Mike Harris</span><br>
        <span style="font-size:12px;color:white;opacity: 0.8;font-weight:300">edit profile | signout</span>
      
       </div> 
</div>  

 <div class="btn">
       <button class="btn1 text-center" >Add to pipeline</button>
</div>    
<div class="wrapper"  id="myDIV">
        <div class="sidebar">
          <div class="navcollapse " >
       
          </div>
        
            <ul style="padding-left:3px"  class="navborder">
              <li ><a style="padding:3px"><i class="fa fa-pie-chart"></i><span class="ml-3">Setup System<span style="font-size:20px;color:black"></span></span></a></li>
              <li><a style="padding:3px"><i class="	fa fa-th"></i><span class="ml-3">Pricing<span style="font-size:20px"></span></span></a></li>
              <li><a style="padding:3px"><i class="fa fa-table"></i><span class="ml-3">Manage System<span style="font-size:20px"></span></span></a></li>
              <li><a style="padding:3px"><i class="fa fa-star"></i><span class="ml-3">Banks<span style="font-size:20px"></span></span></a></li>
              <li><a style="padding:3px"><i class="	fa fa-window-maximize"></i><span class="ml-3">Reports<span style="font-size:20px"></span></span></a></li>
              <li><a style="padding:3px"><i class="fa fa-pencil"></i><span class="ml-3">Sales Agent <span style="font-size:20px"></span></span></a></li>
              <li class="active"><a style="padding:3px"><i class="	fa fa-line-chart"></i><span class="ml-3">Pipe Line<span style="font-size:20px"></span></span></a></li>
              <li><a style="padding:3px"><i class="	fa fa-venus"></i><span class="ml-3">Pipe Line<span style="font-size:20px"></span></span></a></li>
              <li><a style="padding:3px"><i class="fa fa-user"></i><span class="ml-3">Pipeline Search<span style="font-size:20px;padding-bottom:0px"></span></span></a></li>
              
            </ul>
        

            
        </div>
      </div>
      <div class="navoutertext text-center">
          Recently Viewed
       </div>   


      <div class="wrapper"  id="myDIV">
            <div class="sidebar">
              <div class="navcollapse " >
           
              </div>
            
                <ul style="padding-left:3px"  class="downnavborder">
                  <li><a style="padding:3px"><i class="fa fa-pie-chart"></i><span class="ml-3">Jobs Burgers<span style="font-size:20px;color:black"></span></span></a></li>
                  <li><a style="padding:3px"><i class="	fa fa-th"></i><span class="ml-3">Matts Auto...<span style="font-size:20px"></span></span></a></li>
                  <li><a style="padding:3px"><i class="fa fa-table"></i><span class="ml-3">Toms Skate Shop<span style="font-size:20px"></span></span></a></li>
                  <li><a style="padding:3px"><i class="fa fa-star"></i><span class="ml-3">Runte Shop<span style="font-size:20px"></span></span></a></li>
                  <li><a style="padding:3px"><i class="	fa fa-window-maximize"></i><span class="ml-3">View All Recent<span style="font-size:20px"></span></span></a></li>
                 
                </ul>
            
    
                
            </div>
          </div>

